.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;

  .card {
    position: relative;
    top: -10%;
    width: 800px;
    height: 400px;
    border-radius: 16px;
    padding: 48px;
    transform-origin: top;

    h2 {
      margin: 0;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 0.4px;
    }

    .body {
      display: flex;
      gap: 48px;
      height: 100%;
      margin-top: 32px;

      .description {
        width: 50%;
        position: relative;
        // top: 10%;

        // p {
        //   font-size: 16px;

        //   &::first-letter {
        //     font-size: 28px;
        //   }
        // }

        span {
          display: flex;
          align-items: center;
          gap: 5px;

          a {
            font-size: 14px;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;

        .inner {
          width: 100%;
          height: 100%;
        }

        img {
          object-fit: cover;
        }
      }
    }
  }
}
